<script><img src="https://imgur.com/a/4RheEZC" alt="Marcas das instituições responsáveis pelo projeto" align="left">

<link href='https://fonts.googleapis.com/css?family=Baloo' rel='stylesheet'> 
<link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'></script>
