body {

    /* Header styling and automatic numbering. --------------------------------------------- */
    p {
        font-family: "Nunito Sans Light" !important;
        font-size: 1em;
        text-align: justify;
        line-height: 1.5;
        margin: 0px;
        text-indent: 1.25cm;
        hyphens: auto;
    }

    a:link,
    a:visited,
    a {
        /* Links. */
        color: #60a7d8;
        font-weight: bold;
        text-decoration: none;
    }

    a:hover {
        color: #afcc74;
    }

    b,
    strong {
        color: #afcc74;
        font-weight: bold;
    }

    i,
    em {
        color: #ed8743;
        font-weight: italic;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Baloo" !important;
        color: #183d4c;
        page-break-after: avoid;
        page-break-inside: avoid;
        text-align: left;
        font-size: 1em;
        line-height: 1.2em;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        padding-bottom: 0;
        font-weight: normal;
        text-decoration: none !important;
    }

    h1 {
        /* Title. */
        font-family: "Baloo" !important;
        color: #183d4c !important;
        text-align: center;
        font-size: 2.5em !important;
        margin-bottom: 2em;
        margin-top: 0px;
        text-decoration: none !important;
        font-weight: normal !important;
    }

    h6 {
        /* Subtitle. */
        font-family: "Nunito Sans Light" !important;
        text-align: center;
        font-size: 0.8em !important;
        font-weight: normal;
        margin-bottom: 6px;
        margin-top: 0px;
        text-decoration: none !important;
        font-weight: normal !important;
    }

    h2 {
        font-family: "Baloo" !important;
        color: #ed8743 !important;
        font-size: 2em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        text-decoration: none !important;
        font-weight: normal !important;
    }

    h3 {
        font-family: "Baloo" !important;
        color: #afcc74 !important;
        font-size: 1.6em;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        text-decoration: none !important;
        font-weight: normal !important;
    }

    h4 {
        font-family: "Baloo" !important;
        color: #60a7d8 !important;
        font-size: 1.2em;
        line-height: 1;
        padding-bottom: -2cm;
        margin: none;
        text-decoration: none !important;
        font-weight: normal !important;
    }

    h5 {
        font-family: "Baloo" !important;
        color: #fac841 !important;
        font-size: 1em;
        text-decoration: none !important;
        font-weight: normal !important;
    }

    /* Credits. ---------------------------------------------------- */
    del {
        /* Credits, i.e. author information. */
        font-family: "Nunito Sans Light";
        display: block;
        text-align: center;
        font-size: 10pt;
        text-decoration: none;
        margin-top: 8px;
        padding-bottom: 10px;
    }

    /* Code and math blocks. --------------------------------------------------------------- */
    pre {

        /* background and border of block. 
        background-color: transparent;
        border-style: dashed;
        border-radius: 0px;
        border-width: 0px 0px 0px 0px;
        border-color: darkgray;
        line-height: 0;
    }*/
        code {
            font-family: "Fira Code Retina";
            font-size: 12pt;
            color: #292929;
        }

        mjx-math {
            font-size: 90%;
            text-align: inline;
        }

        math-block {
            page-break-before: avoid;
        }

        /* Figures. ---------------------------------------------------------------------------- */
        svg,
        img {
            display: block;
            page-break-inside: avoid;
            page-break-after: avoid;
            margin: 10px auto 5px;
        }

        figcaption {
            font-family: "Nunito Sans Light";
            text-align: center;
            margin-bottom: 16px;
            font-size: 10pt;
        }

        /* Tables. ----------------------------------------------------------------------------- */
        table,
        pre {

            border: transparent !important;
            box-shadow: none !important;
            background-color: transparent !important;
            font-family: "Nunito Sans Light";
        }

        table {
            font-family: "Nunito Sans Light";
            font-size: 12pt;
            text-align: center bottom !important;
            margin: 10px auto 5px;
            border-top: 0px solid #183d4c;
            border-bottom: 0px solid #183d4c;
            background-color: transparent;
        }

        th {
            /* Table headers. */
            color: black;
            font-weight: normal !important;
            border: transparent !important;
            padding: 2px 5px;
            align-items: center bottom !important;
        }

        td {
            border: transparent !important;
            padding: 2px 5px;
            text-align: justify;
            align-items: center bottom !important;
        }

        table tr:nth-child(2) {
            background-color: transparent;
        }

        /* Lists ------------------------------------------------------------------------------- */
        ul,
        ol,
        dl {
            page-break-before: avoid;
            font-family: "Nunito Sans Light" !important;
            font-size: 12pt;
            line-height: 1.5;
            margin-top: 0px;
            padding-top: 0px;
            text-indent: 1.25em;
            text-align: justify;
        }

        ul li {
            /* Adjusts size of bullet points. */
            list-style-type: none !important;
            position: relative !important;
        }

        ul li::before {
            content: '•' !important;
            color: #60a7d8;
            position: absolute !important;
            left: -1.20em !important;
            top: -0.05em !important;
            font-size: 1.1em !important;
        }

        ol li::before {
            color: #afcc74;
            position: absolute !important;
            left: -1.20em !important;
            top: -0.05em !important;
            font-size: 1.1em !important;
        }

        /* Horizontal separator. --------------------------------------------------------------- */
        hr {
            /* Manual page-break using "---". */
            border: 2px dashed !important;
            margin-bottom: 2em;

        }

        /* Additional settings. ---------------------------------------------------------------- */
        /*blockquote {
        display: block !important;
        text-align: center !important;
        font-size: 12pt !important;
        padding: 15px 15px 15px 15px !important;
        margin: 5px 5px 5px 5px !important;
        background-color: transparent !important;
        border-width: 2px !important;
        border-style: dashed !important;
        border-color: #fac841 !important;
        border-radius: 10% !important;
        text-indent: none !important;
        align-items: center !important;
        align-content: center !important;
    } */

        blockquote {
            display: block;
            text-align: center;
            font-size: 12pt;
            padding: 15px !important;
            margin: 5px;
            background-color: transparent !important;
            border-width: 2px !important;
            border-style: dashed !important;
            border-color: #fac841 !important;
            border-radius: 10%;
            text-indent: 0em;
            page-break-inside: avoid;
            /* Centralizar horizontal e verticalmente */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        blockquote ol {
            text-indent: 0;
        }



        .mermaid {
            /* Inline diagrams. */
            color: #292929 !important;
        }
    }

    /* MIT License | Copyright (c) Stephan Ango (@kepano) 
Cards snippet for Obsidian
author: @kepano
version: 2.0.0
Support my work:
https://github.com/sponsors/kepano
*/
    :root {
        --cards-min-width: 180px;
        --cards-max-width: 1fr;
        --cards-mobile-width: 120px;
        --cards-image-height: 400px;
        --cards-padding: 1.2em;
        --cards-image-fit: contain;
        --cards-background: transparent;
        --cards-border-width: 1px;
        --cards-aspect-ratio: auto;
        --cards-columns: repeat(auto-fit, minmax(var(--cards-min-width), var(--cards-max-width)));
    }

    @media (max-width: 400pt) {
        :root {
            --cards-min-width: var(--cards-mobile-width);
        }
    }

    .cards.table-100 table.dataview tbody,
    .table-100 .cards table.dataview tbody {
        padding: 0.25rem 0.75rem;
    }

    .cards table.dataview tbody {
        clear: both;
        padding: 0.5rem 0;
        display: grid;
        grid-template-columns: var(--cards-columns);
        grid-column-gap: 0.75rem;
        grid-row-gap: 0.75rem;
    }

    .cards table.dataview>tbody>tr {
        background-color: var(--cards-background);
        border: var(--cards-border-width) solid var(--background-modifier-border);
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 0 calc(var(--cards-padding) / 3) 0;
        border-radius: 6px;
        overflow: hidden;
        transition: box-shadow 0.15s linear;
        max-width: var(--cards-max-width);
    }

    .cards table.dataview>tbody>tr:hover {
        border: var(--cards-border-width) solid var(--background-modifier-border-hover);
        box-shadow: 0 4px 6px 0px #afcc74, 0 1px 3px 1px #afcc74;
        transition: box-shadow 0.15s linear;
    }

    .cards table.dataview tbody>tr>td {
        /* Paragraphs */
        /* Links */
        /* Buttons */
        /* Lists */
        /* Images */
    }

    .cards table.dataview tbody>tr>td:first-child {
        font-weight: var(--bold-weight);
    }

    .cards table.dataview tbody>tr>td:first-child a {
        padding: 0 0 calc(var(--cards-padding) / 3);
        display: block;
    }

    .cards table.dataview tbody>tr>td:not(:first-child) {
        font-size: 90%;
        color: var(--text-muted);
    }

    .cards table.dataview tbody>tr>td .el-p {
        display: block;
        width: 100%;
    }

    .cards table.dataview tbody>tr>td>*:not(.el-embed-image) {
        padding: calc(var(--cards-padding) / 3) 0;
    }

    .cards table.dataview tbody>tr>td:not(:last-child):not(:first-child)>.el-p:not(.el-embed-image) {
        border-bottom: 1px solid var(--background-modifier-border);
        width: 100%;
    }

    .cards table.dataview tbody>tr>td a {
        text-decoration: none;
    }

    .cards table.dataview tbody>tr>td>button {
        width: 100%;
        margin: calc(var(--cards-padding) / 2) 0;
    }

    .cards table.dataview tbody>tr>td:last-child>button {
        margin-bottom: calc(var(--cards-padding) / 6);
    }

    .cards table.dataview tbody>tr>td>ul {
        width: 100%;
        padding: 0.25em 0 !important;
        margin: 0 auto !important;
    }

    .cards table.dataview tbody>tr>td:not(:last-child)>ul {
        border-bottom: 1px solid var(--background-modifier-border);
    }

    .cards table.dataview tbody>tr>td .el-embed-image {
        background-color: var(--background-secondary);
        display: block;
        margin: 0 calc(var(--cards-padding) / -2) 0 calc(var(--cards-padding) / -2);
        width: calc(100% + var(--cards-padding));
    }

    .cards table.dataview tbody>tr>td img {
        aspect-ratio: var(--cards-aspect-ratio);
        width: 100%;
        object-fit: var(--cards-image-fit);
        max-height: var(--cards-image-height);
        background-color: var(--background-secondary);
        vertical-align: bottom;
    }

    .markdown-source-view.mod-cm6.cards .dataview.table-view-table>tbody>tr>td,
    .trim-cols .cards table.dataview tbody>tr>td {
        white-space: normal;
    }

    .cards .dataview.table-view-table>tbody>tr>td,
    .cards table.dataview tbody>tr>td,
    .markdown-source-view.mod-cm6.cards .dataview.table-view-table>tbody>tr>td,
    .markdown-source-view.mod-cm6.cards table.dataview tbody>tr>td {
        border-bottom: none;
        padding: 0 !important;
        line-height: 1.2;
        width: calc(100% - var(--cards-padding));
        margin: 0 auto;
        overflow: visible !important;
        max-width: 100%;
        display: flex;
    }

    .links-int-on .cards table.dataview tbody>tr>td a {
        text-decoration: none;
    }

    /* Block button */
    .markdown-source-view.mod-cm6.cards .edit-block-button {
        top: 0px;
    }

    /* ------------------- */
    /* Sorting menu */
    .cards.table-100 table.dataview thead>tr,
    .table-100 .cards table.dataview thead>tr {
        right: 0.75rem;
    }

    .table-100 .cards table.dataview thead:before,
    .cards.table-100 table.dataview thead:before {
        margin-right: 0.75rem;
    }

    .theme-light .cards table.dataview thead:before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="black" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>');
    }

    .cards .el-pre+.el-lang-dataview .table-view-thead {
        padding-top: 8px;
    }

    .cards table.dataview thead {
        user-select: none;
        width: 180px;
        display: block;
        float: right;
        position: relative;
        text-align: right;
        height: 24px;
        padding-bottom: 4px;
    }

    .cards table.dataview thead:hover:before {
        opacity: 0.5;
        background-color: var(--background-modifier-hover);
    }

    .cards table.dataview thead:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 16px;
        background-repeat: no-repeat;
        cursor: var(--cursor);
        text-align: right;
        padding: var(--size-4-1) var(--size-4-2);
        margin-bottom: 2px;
        border-radius: var(--radius-s);
        font-weight: 500;
        font-size: var(--font-adaptive-small);
        opacity: 0.25;
        background-position: center center;
        background-size: 16px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="white" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>');
    }

    .cards table.dataview thead>tr {
        top: -1px;
        position: absolute;
        display: none;
        z-index: 9;
        border: 1px solid var(--background-modifier-border-hover);
        background-color: var(--background-secondary);
        box-shadow: var(--shadow-s);
        padding: 6px;
        border-radius: var(--radius-m);
        flex-direction: column;
        margin: 26px 0 0 0;
        width: 100%;
    }

    .cards table.dataview thead:hover>tr {
        display: flex;
    }

    .cards table.dataview thead>tr>th {
        display: block;
        padding: 3px 30px 3px 6px !important;
        border-radius: var(--radius-s);
        width: 100%;
        font-weight: 400;
        color: var(--text-normal);
        cursor: var(--cursor);
        border: none;
        font-size: var(--font-ui-small);
    }

    .cards table.dataview thead>tr>th[sortable-style=sortable-asc],
    .cards table.dataview thead>tr>th[sortable-style=sortable-desc] {
        color: var(--text-normal);
    }

    .cards table.dataview thead>tr>th:hover {
        color: var(--text-normal);
        background-color: var(--background-modifier-hover);
    }

    /* ------------------- */
    /* Helper classes */
    .cards.cards-16-9 {
        --cards-aspect-ratio: 16/9;
    }

    .cards.cards-1-1 {
        --cards-aspect-ratio: 1/1;
    }

    .cards.cards-2-1 {
        --cards-aspect-ratio: 2/1;
    }

    .cards.cards-2-3 {
        --cards-aspect-ratio: 2/3;
    }

    .cards.cards-cols-1 {
        --cards-columns: repeat(1, minmax(0, 1fr));
    }

    .cards.cards-cols-2 {
        --cards-columns: repeat(2, minmax(0, 1fr));
    }

    .cards.cards-cover table.dataview tbody>tr>td img {
        object-fit: cover;
    }

    .cards.cards-align-bottom table.dataview tbody>tr>td:last-child {
        align-items: flex-end;
        flex-grow: 1;
    }

    @media (max-width: 400pt) {
        .cards table.dataview tbody>tr>td:not(:first-child) {
            font-size: 80%;
        }
    }

    @media (min-width: 400pt) {
        .cards-cols-3 {
            --cards-columns: repeat(3, minmax(0, 1fr));
        }

        .cards-cols-4 {
            --cards-columns: repeat(4, minmax(0, 1fr));
        }

        .cards-cols-5 {
            --cards-columns: repeat(5, minmax(0, 1fr));
        }

        .cards-cols-6 {
            --cards-columns: repeat(6, minmax(0, 1fr));
        }

        .cards-cols-7 {
            --cards-columns: repeat(7, minmax(0, 1fr));
        }

        .cards-cols-8 {
            --cards-columns: repeat(8, minmax(0, 1fr));
        }
    }

    /*# sourceMappingURL=cards.css.map */


/*  Controles flutuantes do rodapé abaixo*/
#floating-control {
    position: fixed;
    color: var(--link-color);
    bottom: 1vmax;
    right: 1vmax;
    font-size: 24px;
    z-index: 999999;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    .svg-icon,
    i {
        cursor: pointer;
        height: 24px;
        width: auto;
    }

    #theme-switch {
        .light {
            display: none;
        }

        .dark {
            display: none;
        }

        .auto {
            display: none;
        }
    }

    #theme-switch.light {
        .light {
            display: inline;
        }
    }

    #theme-switch.dark {
        .dark {
            display: inline;
        }
    }

    #theme-switch.auto {
        .auto {
            display: inline;
        }
    }
}

#LogoTCM{
width: 40%;
align: left;
position: static;

}
/*  Formatação de links extenos*/
/*  a[href*="//"]:not([href*="temciencianomuseuwiki.vercel.app"]){
    background-image:url("data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 100 100" width="17" height="17"><path d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"></path></svg>");
    background-position: top right;
margin-left: 1em;
  }*/

  a::after[href*="//"]:not([href*="temciencianomuseuwiki.vercel.app"]) {
      background-image: url("data:image/svg+xml,\
	<svg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 100 100' width='17' height='17'> \
    <path d='M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'></path> \
 </svg>");
 background-position: top right;
      }

}