body {
/* Header styling and automatic numbering. --------------------------------------------- */
        p {
        font-family: "Nunito Sans Light"!important;
        font-size: 1em;
        text-align: justify;
        line-height: 1.5;
        margin: 0px;
        text-indent: 1.25cm;
        hyphens: auto;
    }
    a:link, a:visited, a { /* Links. */
        color: #60a7d8;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        color: #afcc74;
    }

         b, strong {
        color: #afcc74;
        font-weight: bold;
    }
    
    i, em {
        color: #ed8743;
        font-weight: italic;
    }
    h1, h2, h3, h4, h5, h6{
        font-family: "Baloo" !important;
        color: #183d4c;
        page-break-after: avoid;
        page-break-inside: avoid;
        text-align: left;
        font-size: 1em;
        line-height: 1.2em;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        padding-bottom: 0;
        font-weight: normal;
        text-decoration: none !important;
    }
    h1 { /* Title. */
        font-family: "Baloo" !important;
        color: #183d4c !important; 
        text-align: center;
        font-size: 2.5em !important ;
        margin-bottom: 2em;
        margin-top: 0px;
        text-decoration: none !important;
        font-weight: normal !important;
    }
    h6 { /* Subtitle. */
        font-family: "Nunito Sans Light" !important;
        text-align: center;
        font-size: 0.8em !important;
        font-weight: normal;
        margin-bottom: 6px;
        margin-top: 0px;
        text-decoration: none !important;
        font-weight: normal !important;
    }
    h2 {
        font-family: "Baloo" !important;
        color: #ed8743 !important;
        font-size: 2em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        text-decoration: none !important;
        font-weight: normal !important;
    }
    h3 {
        font-family: "Baloo" !important;
        color: #afcc74 !important;
        font-size: 1.6em;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        text-decoration: none !important;
        font-weight: normal !important;}
    h4 {
        font-family: "Baloo" !important;
        color: #60a7d8 !important;
        font-size: 1.2em;
        line-height: 1;
        padding-bottom: -2cm;
        margin: none;
        text-decoration: none !important;
        font-weight: normal !important;
    }
    h5 {
        font-family: "Baloo" !important;
        color: #fac841 !important;
        font-size: 1em;
        text-decoration: none !important;
        font-weight: normal !important;
    }

    /* Credits. ---------------------------------------------------- */
    del { /* Credits, i.e. author information. */
        font-family: "Nunito Sans Light";
        display: block;
        text-align: center;
        font-size: 10pt;
        text-decoration: none;
        margin-top: 8px;
        padding-bottom: 10px;
    }

    /* Code and math blocks. --------------------------------------------------------------- */
    pre { /* background and border of block. */
        background-color: transparent;
        border-style: dashed;
        border-radius: 0px;
        border-width: 0px 0px 0px 0px;
        border-color: darkgray;
        line-height: 0;
    }
    code {
        font-family: "Fira Code Retina";
        font-size: 12pt;
        color: #292929;
    }
    mjx-math {
        font-size: 100%;
        text-align: inline;
    }
    math-block {
        page-break-before: avoid;
    }

    /* Figures. ---------------------------------------------------------------------------- */
    svg, img {
        display: block;
        page-break-inside: avoid;
        page-break-after: avoid;
        margin: 10px auto 5px;
    }
    figcaption {
        font-family: "Nunito Sans Light";
        text-align: center;
        margin-bottom: 16px;
        font-size: 10pt;
    }

    /* Tables. ----------------------------------------------------------------------------- */
    table, pre {

        border: transparent !important;
        box-shadow: none !important;
        background-color: transparent !important;
        font-family: "Nunito Sans Light";
    }
    table {
        font-family: "Nunito Sans Light";
        font-size: 12pt;
        text-align: center bottom !important;
        margin: 10px auto 5px;
        border-top: 0px solid #183d4c;
        border-bottom: 0px solid #183d4c;
        background-color: transparent;
    }
    th { /* Table headers. */
        color: black;
        font-weight: normal !important;
        border: transparent !important;
        padding: 2px 5px;
        align-items: center bottom !important;
    }
    td {
        border: transparent !important;
        padding: 2px 5px;
        text-align: justify;
        align-items: center bottom !important;
    }

    table tr:nth-child(2) {
        background-color: transparent;
    }

    /* Lists ------------------------------------------------------------------------------- */
    ul, ol, dl {
        page-break-before: avoid;
        font-family: "Nunito Sans Light"!important;
        font-size: 12pt;
        line-height: 1.5;
        margin-top: 0px;
        padding-top: 0px;
        text-indent: 1.25em;
        text-align: justify;
    }
    ul li { /* Adjusts size of bullet points. */
        list-style-type: none !important;
        position: relative !important;
    }
    ul li::before {
        content: '•' !important;
        color:#60a7d8;
        position: absolute !important;
        left: -1.20em !important;
        top: -0.05em !important;
        font-size: 1.1em !important;
    }

    ol li::before {
        color: #afcc74;
        position: absolute !important;
        left: -1.20em !important;
        top: -0.05em !important;
        font-size: 1.1em !important;
    }
     /* Horizontal separator. --------------------------------------------------------------- */
     hr { /* Manual page-break using "---". */
        border: none !important;
        border-top: 0px dashed !important;
        page-break-after: always !important;
    }

    /* Additional settings. ---------------------------------------------------------------- */
    /*blockquote {
        display: block !important;
        text-align: center !important;
        font-size: 12pt !important;
        padding: 15px 15px 15px 15px !important;
        margin: 5px 5px 5px 5px !important;
        background-color: transparent !important;
        border-width: 2px !important;
        border-style: dashed !important;
        border-color: #fac841 !important;
        border-radius: 10% !important;
        text-indent: none !important;
        align-items: center !important;
        align-content: center !important;
    } */

    blockquote {
        display: block;
        text-align: center;
        font-size: 12pt;
        padding: 15px !important;
        margin: 5px;
        background-color: transparent !important;
        border-width: 2px !important;
        border-style: dashed !important;
        border-color: #fac841 !important;
        border-radius: 10%;
        text-indent: 0em ;
        page-break-inside: avoid;
        /* Centralizar horizontal e verticalmente */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    blockquote ol{        
        text-indent: 0 ;}



    .mermaid { /* Inline diagrams. */
        color: #292929 !important;
    }


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://imgur.com/a/yZ1MJlm');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  opacity: 0.6; /* Ajuste a opacidade conforme desejar */
}

        
}

